<div class="row justify-content-center banner">
  <div class="left-section">
    <%= image_tag 'profilepiccropped.JPG', alt: "profile photo" %>
    <h1 class="title-main">Hello, I'm Eri</h1>
  </div>
</div>
