<div class="row banner">
  <div class="col left-section">
    <%= image_tag 'profilepiccropped.JPG', alt: "profile photo" %>
    <%= image_tag 'profilepicturecroppednobg1.png', alt: "profile photo", class:"overlay-image" %>
    <h1 class="title-main">Hello, I'm Eri</h1>
  </div>
  <div class="col right-section">
    <div class="bio">
      <p>I'm a full-stack software engineer,</p>
      <p>former data analyst,</p>
      <p>and an avid knitter.</p>
      <p>Now based in Tokyo, Japan,</p>
      <p>I am currently learning about:</p>
      <button>DevOps</button>
      <button>Testing</button>
      <button>GoLang</button>
    </div>
  </div>
</div>
