.banner {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#title-main {
  font-family: $banner-font;
  font-size: 12rem;
  color: $primary-mint;
}

.left-section {
  width: 80%;
  position: relative;
  margin-left: 10%;
}

.left-section img {
  width: 523px;
  height: auto;
  position: absolute;
  top: 126px;
}

.overlay-image {
  z-index: 1;
}

.left-section h1 {
  position: absolute;
  top: 25%;
  left: 2%;
  padding: 10px;
  text-wrap: nowrap;
  transform: rotate(-8deg);
}

.right-section {
  align-content: center;
}

.bio {
  margin-top: 20%;
}


@media (max-width: 900px) {
  .banner {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  #title-main {
    font-size: 7rem;
    top: 38%;
    left: 0%;
  }

  .left-section img {
    width: 350px;
    height: auto;
    position: absolute;
    top: 100px;
  }

  .left-section {
    margin-top: -2%;
    // margin-left: 13%;
  }

  .right-section{ 
    margin-top: 10px;
  }

  .bio {
    margin-left: 33px;
    margin-top: 37px;
  }
}

@media (max-width: 700px) {

  #title-main {
    font-size: 5rem;
    top: 31%;
    left: 0%
  }

  .left-section img {
    width: 288px;
    height: auto;
    position: absolute;
    top: 100px;
  }

  .left-section {
    margin-top: -2%;
    // margin-left: 13%;
  }

  .bio {
    margin-left: 33px;
    margin-top: 37px;
  }
}

@media (max-width: 400px) {

  #title-main {
    font-size: 4rem;
    top: 35%;
  }

  .left-section img {
    width: 272px;
    height: auto;
    position: absolute;
    top: 100px;
  }

  .left-section {
    margin-top: -2%;
    // margin-left: 13%;
  }

  .bio {
    margin-left: 10px;
  }
}
